<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="hbConnexionString" 
         connectionString="
          server=109.234.165.229;
          database=kuph3194_hera-bougie;
          username=kuph3194_nour;
          password=d3OygUVaYS3t;" />
    
    <add name="sneakersConnexionString"
         connectionString="
          server=109.234.165.229;
          database=kuph3194_sneakers;
          username=kuph3194_adlen;
          password=5NRN7lbrz3Zt;" />
    
    <add name="taskmasteryConnexionString"
         connectionString="
          server=109.234.165.229;
          database=kuph3194_taskmastery;
          username=kuph3194_firase;
          password=+9u5M#DR957D;" />
  </connectionStrings>
  <appSettings>
    <add key="test" value="paramètre de test"/>
  </appSettings>
</configuration>